* {
    line-height: 2rem;
}

.LogoHeader {
    max-width: 300px;
    padding-top: 0em;
    margin: 100px auto 40px auto;
  }

.Intro {
    max-width: auto;
    color:#ffffff;
    background-color: #ff32b7;
    min-width: 768px;
    max-width: 1000px;
    height: 275px;
    padding: 10px 30px;
    margin: auto;
    margin-top: 0px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    img {
        width: 20%;
        padding: 5px;
        margin-right: 50px;
        float: left;
        border-radius: 10px;
    }
    h2 {
        font-size: 40px;
        font-weight: bold;
    }
}

.IntroCopy {
    padding: 40px;
}

a:link {
    color:#ffffff;
    text-decoration: underline;
    font-weight: bold;
}
a:hover {
    color:#f9ff4c
}
a:visited {
    color: #ffffff;
}

.Main {
    margin: auto;
    text-align: left;
    padding-top: 180px;
    max-width: 1000px;
    padding-bottom: 100px;
}
.Main h2{
    font-size: 48px;
    font-weight: bold;
}

/*Icons*/
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 170px;
}

.icons {
    display: flex;
    column-gap: 100px;
}

.icon {
    font-size: 50px;
    outline: 4px solid #000000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-flex;
    transition-duration: 0.25s;
    background-color: #f9ff4c;
}

.icon img {
    margin: auto;
    width: 60%;
}


.icon:hover {
    background-color: #ff32b7;
}

.icon:hover img {
    animation: shake 0.35s;
}

@keyframes shake {
    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }
}